@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/carousel';

/* Asigură-te că săgețile implicite sunt vizibile */


.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: transparent !important;
  background-size: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 2rem !important;
  height: 2rem !important;
  opacity: 0.9 !important;
  transition: all 0.2s ease;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  opacity: 1 !important;
  transform: scale(1.1);
}

.carousel-control-prev,
.carousel-control-next {
  width: 3rem !important;
  opacity: 1 !important;
  z-index: 10;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1 !important;
}

.carousel-control-prev .visually-hidden,
.carousel-control-next .visually-hidden {
  display: none !important; /* Ascunde complet textul „Next” și „Previous” */
}



